.home {
    padding: 50px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.home-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    margin: bottom 30px;
    box-sizing: border-box; 
    margin: 2rem;
}

.logo-link {
    max-width: 150px; 
    margin: 0 auto; 
}

.logo {
    width: 100%; 
    height: auto; 


.title {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2.5rem; 
    color: #333;
    margin: 0; 
    flex-grow: 1; 
    text-align: center; 
}

.back-button {
    padding: 10px 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.back-button:hover {
    background-color: red;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
}

.user-card {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    width: 100%;
    max-width: 250px;
}

.user-card:hover {
    transform: scale(1.05);
}

.user-link {
    text-decoration: none;
    color: inherit;
}

.user-avatar {
    width: 50%; 
    height: auto;
    border-radius: 50%;
    margin: 15px auto;
    display: block;
}

.user-info {
    padding: 15px;
    text-align: center; 
}

.user-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: darkcyan;
}

.user-info p {
    font-size: 1em;
    color: #555;
}

@media (max-width: 768px) {
    .home-header {
        flex-direction: column; 
        align-items: center;
    }

    .logo-link {
        max-width: 80px; 
        padding-top: 5rem;
        }
    
    .logo {
        width: 100%; 
        height: auto; 
        text-align: center;
        z-index: 10;
        position: relative;
        }
    

    .h1, .back-button {
        width: 100px; 
        margin: 10px 0; 

    }

    h1 {
        font-size: 1.rem;
    }

    .user-info h2 {
        font-size: 1.2em; 
        text-align: center;
    }

    .user-info p {
        font-size: 0.8rem; 
        text-align: center;
        margin-right: 20px;
    }
}
}