* {
    margin: 0;
    padding: 0;
  }
  
  .mainC {
    background-color: lightcyan;
    min-height: 90vh;
    max-height: 90vh;
    border-radius: 10px;
    overflow: auto;
    padding-top: 130px;
  } 
  
  .grid-container {
    display: grid;
    grid-template-columns: 550px 1fr;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid-item.img-content {
    padding-left:10px;
  }
  
  .text-tanpa-biaya {
    color: darkcyan;
    font-weight: bold;
  }
  
  
  .text-content h2 {
    font-size: 32px;
    margin-bottom: 5px;
  }
  
  .text-content h3 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .text-content p {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
  }
  
  .image-content img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn1, .btn2 {
    padding: 20px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50px; /* Membuat tombol berbentuk elips */
  }
  
  .btn1 {
    background-color: darkcyan;
    color: aliceblue;
    border: none;
  }
  
  .btn2 {
    background-color: aliceblue;
    color: black;
    border: 2px solid darkcyan;
  }
  
  .btn1:hover, .btn2:hover {
    background-color: cadetblue;
  }

  .image-content img {
    width: 100%;
    height: auto;
    max-width: 80%;
    object-fit: contain;
}
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  
    .grid-item {
      padding: 1rem;
    }
  
    .image-content img {
      max-width: 100%;
    }
  }
  
  .btn2 a {
    color: black;
    text-decoration: none;
  }

  .main-content2 {
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    max-width: 1200px; 
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Setel font yang sama untuk semua teks */
    color: black; /
  }
  .main-content2 h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: inherit; 
    color: darkcyan; 
  }
  
  .main-content2 h3 {
    font-size: 22px; 
    margin-bottom: 20px;
    font-family: inherit; 
    color: darkcyan;
  }
  
  .main-content2 p {
    font-family: inherit; 
    color: inherit; 
    margin-bottom: 50px;
    line-height: 2;
    font-size: 18px;
  }
  
  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    margin-top: 10px;
    padding-top: 3rem;
    text-align: center;
  }
  
  .grid-item2.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item2.image-content img {
    width: 100%;
    max-width: 500px; 
    height: auto;
    object-fit: cover;
  }
  
  .grid-item2.text {
    font-size: 18px; 
    line-height: 1;
    text-align: left;
    margin: 0 30px;
    text-align: center;
  }
